/.env
.DS_Store
.idea/
.vscode/
*.log
node_modules/
dist/
coverage/
appsettings.Production.json
appsettings.Staging.json
**/appsettings.Local.json

# Add these lines to your .gitignore file

# Environment files with secrets
.env

# Certificates and keys
*.pfx
*.key
*.pem
*.crt

appsettings.Production.json
appsettings.Staging.json

logs/
*.log

# Docker volumes data
**/postgres-data/
**/postgres-data-local/
